@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<h2>@Model.Message</h2>

<h3 id="currentTime">Time: @Model.PrintTime()</h3>

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<h1>Super Shop</h1>
</div>

@section Scripts {
	<script>
            function updateTime() {
            fetch('?handler=CurrentTime')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('currentTime').textContent = `Time: ${data.time}`;
                });
        }
        setInterval(updateTime, 1000); // Обновление каждую секунду
        updateTime(); // Первый вызов
	</script>
}