@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="main-container">
    <!-- Боковая панель категорий -->
    <div class="sidebar">
        <h4>Категории</h4>
        <div id="categoriesMenu">
            <!-- Здесь будет сгенерировано меню -->
            <div class="loader"></div>
        </div>
    </div>

    <!-- Основное содержимое -->
    <div class="content">
        <div id="initialContent" class="visible">
            <h2>@Model.Message</h2>
            <h3 id="currentTime">Time: @Model.PrintTime()</h3>
            <div class="text-center">
                <h1 class="display-4">Welcome</h1>
                <h1>Super Shop</h1>
            </div>
        </div>

        <div id="loader" class="loader"></div>

        

        <form method="post" class="container_serch" id="searchForm">
            <input type="text" name="searchQuery" class="serch_field" id="searchInput" placeholder="Поиск товаров..." />
        </form>

        <div id="cardsContainer" class="cards-container hidden">
            <!-- Карточки будут добавляться динамически -->
        </div>
    </div>
</div>

@section Scripts {
    <script>


 

    </script>
}