@page
@model WebApplication1.Pages.LoginModel
@{
}
<h2>Login</h2>

<form id="loginForm">
    <input asp-for="Username" class="form-control" />
    <input asp-for="Password" type="password" class="form-control" />
    <button type="submit" class="btn btn-primary">Войти</button>
</form>


@section Scripts {
    <script src="~/js/AuthClass.js"></script>
    <script src="~/js/AuthLogical.js"></script>

    @* подключаем скрипт авторизации для этой страницы *@
}